[submodule "themes/papermod"]
	path = themes/papermod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/hugo-blox"]
	path = themes/hugo-blox
	url = https://github.com/HugoBlox/hugo-blox-builder.git
